---
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import SquareLines from "../components/square-lines.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/1a827209e1.js"
      crossorigin="anonymous"></script>
    <meta
      name="description"
      content="Elias Neto is a Brazilian front-end developer specializing in web and mobile development. Check out his projects and get in touch."
    />
    <meta
      name="keywords"
      content="Elias Neto, front-end developer, web development, mobile development, portfolio, Brazil"
    />
    <meta name="author" content="Elias Neto" />
    <meta
      property="og:title"
      content="Elias Neto's Portfolio - Front-End Developer"
    />
    <meta
      property="og:description"
      content="Elias Neto is a Brazilian front-end developer specializing in web and mobile development. Check out his projects and get in touch."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="eliasacneto.vercel.app" />
    <meta property="og:image" content="/assets/images/2.png" />
    <meta property="og:locale" content="en_US" />

    <!-- Used to add dark mode right away, adding here prevents any flicker -->
    <script>
      if (typeof Storage !== "undefined") {
        if (
          localStorage.getItem("dark_mode") &&
          localStorage.getItem("dark_mode") == "true"
        ) {
          document.documentElement.classList.add("dark");
        }
      }
    </script>

    <style>
      .prose img {
        border-radius: 20px;
      }
    </style>
    <link
      rel="icon"
      type="image/x-icon"
      href="../assets/images/eacn-favicon.png"
    />
    <Fragment set:html={import.meta.env.HEADER_INJECT} />
  </head>
  <body class="antialiased bg-white dark:bg-neutral-950">
    <SquareLines />
    <Header />
    <slot />
    <Footer />
    <script src="../assets/js/main.js"></script>
    <Fragment set:html={import.meta.env.FOOTER_INJECT} />
  </body>
</html>
